<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Model</title>
</head>

<body>
    <h1>Train Model</h1>
    <form method="POST" action="/train">
        <label for="sentence">Enter text to train the model:</label><br>
        <textarea id="paragraph" name="paragraph" rows="10" style="width: 40%;" required></textarea><br><br>

        <input type="submit" value="Train">
    </form>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
</body>

</html>